*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection{
    user-select: none;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#info{
    padding: 20px;
    font-size: 23px;
    text-align: center;
    display: flex;
}
#info span{
    color: red ;
    text-transform: capitalize;
}
#info p:first-child{
    padding-right: 30px;
}
table, td{
    border: 2px solid black;
}
td{
    width: 100px;
    height: 100px;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
}
td.disabled{
    pointer-events: none;
}
#restart button{
    padding: 8px 10px;
    background-color: red;
    border: none;
    margin: 15px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}